pydantic
langchain-core
langgraph
langchain
langchain-groq
langchain-tavily
tavily-python
requests
langgraph
langchain-community
pycopg
langchain-google-genai
langgraph-checkpoint-postgres
airportsdata
pycountry
fastapi
uvicorn
jinja2
